/***** Start Show Modal Section *****/
.show-modal {
    padding: 30px 20px 0px 20px;
    width: 100vw;
    height: 100vh;
    background-color: #cccccc;
    position: fixed;
    z-index: 99999;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    left: -1000px;
    overflow: scroll;
}

.show-modal>.logo-and-remove>.remove>i {
    font-size: 30px;
    color: rgb(92, 28, 75);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -5px;
    line-height: 1;
}

.side-bar {
    left: 0;
}

.logo-and-remove {
    display: flex;
    justify-content: space-between;
}

.show-modal>.nav-link>ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    width: 100%;
}

.show-modal>.nav-link>ul>li {
    display: flex;
    position: relative;
    width: 100%;
}

.show-modal>.nav-link>ul>li>.sub-menu {
    display: flex;
    flex-direction: column;
    width: 280px;
    position: absolute;
    top: 100%;
    left: 50%;
    margin-top: 30px;
    padding: 10px 5px;
    background-color: #ccc;
    transform: scaleY(0) translateX(-50%);
    -webkit-transform: scaleY(0) translateX(-50%);
    -moz-transform: scaleY(0) translateX(-50%);
    -ms-transform: scaleY(0) translateX(-50%);
    -o-transform: scaleY(0) translateX(-50%);
    transform-origin: top;
}

.show-modal>.nav-link>ul>li>.sub-menu.active {
    display: block;
    transform: scaleY(1) translateX(-50%);
    -webkit-transform: scaleY(1) translateX(-50%);
    -moz-transform: scaleY(1) translateX(-50%);
    -ms-transform: scaleY(1) translateX(-50%);
    -o-transform: scaleY(1) translateX(-50%);
}

.show-modal>.nav-link>ul>li>.sub-menu>.sub-menu-box {
    display: flex;
    flex-direction: column;
    margin: 0px 20px;
}

.show-modal>.nav-link>ul>li>.sub-menu>h1 {
    border-bottom: 1px solid #787878;
    padding-bottom: 10px;
    text-align: center;
}

.show-modal>.nav-link>ul>li>.sub-menu>.sub-menu-box {
    margin-top: 10px;
}

.show-modal>.nav-link>ul>li>.sub-menu>.sub-menu-box {
    .sub-menu-col-1>.row-1 {
        padding: 10px 0px;
        background-color: #ffffff0e;
    }

    .sub-menu-col-1>.row-2 {
        padding: 10px 0px;
    }

    .sub-menu-col-3>.row-1 {
        border-bottom: 1px solid #787878;
        padding-bottom: 10px;
    }

    .sub-menu-col-4>.row-1 {
        border-bottom: 1px solid #787878;
        padding-bottom: 10px;
    }
}

.show-modal>.nav-link>ul>li>.theme-sub-menu {
    position: absolute;
    top: 100%;
    display: flex;
    flex-direction: column;
    width: 280px;
    margin: 20px 0px;
    left: 50%;
    transform-origin: top;
    transform: scaleY(0) translateX(-50%);
    background-color: #ccc;
    -webkit-transform: scaleY(0) translateX(-50%);
    -moz-transform: scaleY(0) translateX(-50%);
    -ms-transform: scaleY(0) translateX(-50%);
    -o-transform: scaleY(0) translateX(-50%);
}

.show-modal>.nav-link>ul>li>.theme-sub-menu>.theme-sub-menu-col-1 {
    width: 100%;
}

.show-modal>.nav-link>ul>li>.theme-sub-menu>.theme-sub-menu-col-1>h1 {
    border-color: #787878;
    font-weight: 300;
}

/***** End Show Modal Section *****/








< !-- <div class="show-modal"><div class="logo-and-remove"><div class="nav-logo"><figure><img src="IMAGES/gobooktours-logo.png" alt="gobooktours-logo"></figure></div><div class="remove"><i class="fa-solid fa-xmark"></i></div></div><div class="nav-link"><ul><li id="destination"><a href="#">Destinations <i class="fa-solid fa-angle-down"></i></a><div class="sub-menu"><h1>All Destinations</h1><div class="sub-menu-box"><div class="sub-menu-col-1"><div class="row-1"><h1>Countries</h1><ul><li><a href="#">India Tour Packages </a></li><li><a href="#">Nepal Tour Packages </a></li><li><a href="#">Bhutan Tour Packages </a></li><li><a href="#">Sri Lanka Tour Packages </a></li></ul></div><div class="row-2"><h1>East India </h1><ul><li><a href="#">Bihar Tour Packages </a></li><li><a href="#">Odisha Tour Packages </a></li><li><a href="#">West Bengal Tour Packages </a></li></ul></div></div><div class="sub-menu-col-2"><div class="row-1"><h1>North India</h1><ul><li><a href="#">Delhi Tour Packages </a></li><li><a href="#">Himachal Tour Packages </a></li><li><a href="#">Jammu and Kashmir Tours </a></li><li><a href="#">Ladakh Tour Packages </a></li><li><a href="#">Punjab Tour Packages </a></li><li><a href="#">Rajasthan Tour Packages </a></li><li><a href="#">Uttarakhand Tour Packages </a></li><li><a href="#">Uttar Pradesh Tours </a></li></ul></div></div><div class="sub-menu-col-3"><div class="row-1"><h1>South India</h1><ul><li><a href="#">Andhra Pradesh Tours </a></li><li><a href="#">Andaman & Nicobar Islands </a></li><li><a href="#">Karnataka Tour Packages </a></li><li><a href="#">Kerala Tour Packages </a></li><li><a href="#">Telangana Tour Packages </a></li><li><a href="#">Tamil Nadu Tour Packages </a></li></ul></div><div class="row-2"><h1>Central India </h1><ul><li><a href="#">Madhya Pradesh Tours </a></li></ul></div></div><div class="sub-menu-col-4"><div class="row-1"><h1>Western India</h1><ul><li><a href="#">Goa Tour Packages </a></li><li><a href="#">Gujarat Tour Packages </a></li><li><a href="#">Maharashtra Tour Packages </a></li></ul></div><div class="row-2"><h1>Northeast India </h1><ul><li><a href="#">Assam Tour Packages </a></li><li><a href="#">Meghalaya Tour Packages </a></li><li><a href="#">Sikkim Tour Packages </a></li></ul></div></div></div></div></li><li id="theme"><a href="#">Themes <i class="fa-solid fa-angle-down"></i></a><div class="theme-sub-menu"><div class="theme-sub-menu-col-1"><h1><a href="#">Adventure Tours</a></h1></div><div class="theme-sub-menu-col-1"><h1><a href="#">Wildlife Tours</a></h1></div><div class="theme-sub-menu-col-1"><h1><a href="#">In-Depth Cultural Tours</a></h1></div><div class="theme-sub-menu-col-1"><h1><a href="#">Romantic Getaway</a></h1></div><div class="theme-sub-menu-col-1"><h1><a href="#">Beaches Tours</a></h1></div><div class="theme-sub-menu-col-1"><h1><a href="#">Hiking & Trekking Tours</a></h1></div><div class="theme-sub-menu-col-1"><h1><a href="#">Spiritual Tours</a></h1></div><div class="theme-sub-menu-col-1"><h1><a href="#">Honeymoon Tours</a></h1></div><div class="theme-sub-menu-col-1"><h1><a href="#">Food & Culinary Tours</a></h1></div><div class="theme-sub-menu-col-1"><h1><a href="#">Yoga and Meditation Tours</a></h1></div><div class="theme-sub-menu-col-1"><h1><a href="#">Spa and Ayurveda Tours</a></h1></div><div class="theme-sub-menu-col-1"><h1><a href="#">Fairs and Festivals Tours</a></h1></div></div></li><li><a href="#">Luxury Trips </a></li></ul></div></div>-->